@page
@model LaneScheduleModel
@{
    ViewData["Title"] = "Lane Schedule";
}

<h1>@ViewData["Title"]</h1>
<p>This is the schedule page</p>

<div class="container">
    <h2>Grid of Buttons</h2>
    <div class="row">
        <div class="col">&nbsp;</div><!-- Empty column for label alignment -->
        @for (int col = 0; col < Model.WeekDates.Count; col++)
        {
            <div class="col text-center">
                <h5>@Model.WeekDates[col]</h5>
            </div>
        }
    </div>

    @for (int row = 0; row < Model.Times.Count; row++)
    {
        <div class="row text-center align-items-center">
            <div class="col d-flex align-items-center justify-content-center">
                <h5>@Model.Times[row]</h5>
            </div>
            @for (int col = 0; col < Model.WeekDates.Count; col++)
            {
                string formattedDate = DateTime.ParseExact(Model.WeekDates[col], "ddd M/d",
                System.Globalization.CultureInfo.InvariantCulture).ToString("yyyy-MM-dd");
                string formattedTime = DateTime.ParseExact(Model.Times[row], "h:mm tt",
                System.Globalization.CultureInfo.InvariantCulture).ToString("HH:mm");
                int lanesAvailable = Model.LaneAvailability[formattedDate][formattedTime];

                <div class="col d-flex align-items-center justify-content-center">
                    <!-- each button is wrapped in a form to allow submission -->
                    <form method="post" asp-page-handler="Reserve">
                        <button type="submit" class="btn btn-primary btn-block mb-2" name="reserve"
                            value="@formattedDate,@formattedTime">
                            @lanesAvailable Lanes Available
                        </button>
                    </form>

                </div>
            }

        </div>
    }

</div>