@page
@model MyReservationsModel
@{
    ViewData["Title"] = "My Reservations";
}

@using System.Globalization;

<h2 class="page-header">@ViewData["Title"]</h2>

@if (Model.Reservations.Any())
{
    <ul>
    @foreach (var reservation in Model.Reservations)
        {
            @* Parse the date and time strings *@
            var parsedDate = DateTime.ParseExact(reservation.Date, "yyyy-MM-dd", CultureInfo.InvariantCulture);
            var parsedTime = DateTime.ParseExact(reservation.Time, "HH:mm", CultureInfo.InvariantCulture);

            <li class="reservation-line">
                <span>
                    @parsedDate.ToString("dddd, MMMM d")
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @*add space here for formatting reasons*@
                    @parsedTime.ToString("h:mm tt")
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @*add space here for formatting reasons*@
                </span>
                @* &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *@
                <form method="post" asp-page-handler="Cancel" asp-route-id="@reservation.ReservationId" class="cancel-form">
                    <button type="submit" class="cancel-button">Cancel</button>
                </form>
            </li>
        }
    </ul>
}
else
{
    <p>No reservations found.</p>
}
